html, body, div, span, p, a, del, em, img, ol, ul, li, fieldset, form, label {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
body{
	position:absolute;
	top:0px;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

html, body {
	line-height: 1;
	min-height:100%;
	font-family:Artial, Verdana, sans-serif;
}
@font-face {
    font-family: 'kameron-bold';
    src: url('../font/kameron-bold-webfont.eot');
    src: url('../font/kameron-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/kameron-bold-webfont.woff') format('woff'),
         url('../font/kameron-bold-webfont.ttf') format('truetype'),
         url('../font/kameron-bold-webfont.svg#avantgarde_bk_btdemi') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'OpenSans-Regular';
    src: url('../font/OpenSans-Regular-webfont.eot');
    src: url('../font/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/OpenSans-Regular-webfont.woff') format('woff'),
         url('../font/OpenSans-Regular-webfont.ttf') format('truetype'),
         url('../font/OpenSans-Regular-webfont.svg#avantgarde_bk_btdemi') format('svg');
    font-weight: normal;
    font-style: normal;
}
/*
body {
	background: #eeeeee;
	background: -webkit-linear-gradient(top, #eeeeee, #cccccc 100%);
	background: -moz-linear-gradient(top, #eeeeee, #cccccc 100%);
	background: -o-linear-gradient(top, #eeeeee, #cccccc 100%);
	background: -ms-linear-gradient(top, #eeeeee, #cccccc 100%);
	background: linear-gradient(top, #eeeeee, #cccccc 100%);
	background-attachment:fixed;
}*/

ol, ul {
	list-style: none;
}

p {
	margin:1em 0;
	line-height:1.1em;
}

q {
	font-style:italic;
	color:#333;
}

h1 {
	font-size:2.91em;
	margin:0;
}
/*
h1 > small {
	text-align:right;
	display:inline-block;
	font-size:.71em;
	text-indent:15em;
	color:#444;
}

h2 {
	color:inherit;
	font-size:1.91em;
	margin:2em 0 1em 0;
}

h2:first-child {margin-top:0;}

h3 {
	color:#333;
	font-size:1.41em;
	margin:1em 0;
}

h4 {
	color:#444;
	font-size:1.11em;
	margin:1em 0;
}

#progress {
	height:2%;
	background:#444;
	bottom:0;
	z-index:200;
}

#scrollbar {
	position:fixed;
	right:2px;
	height:50px;
	width:6px;
	background:#444;
	background:rgba(0,0,0,0.6);
	border:1px solid rgba(255,255,255,0.6);
	z-index:300;
	border-radius:3px;
}

.skrollr-desktop #scrollbar {display:none;}

#bg1, #bg2, #bg3 {
	z-index:50;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background:url(../images/bubbles.png) repeat 0 0;
}

#bg2 {
	z-index:49;
	background-image:url(../images/bubbles2.png);
}

#bg3 {
	z-index:48;
	background-image:url(../images/bubbles3.png);
}

#intro {
	width:80%;
	left:50%;
	top:1em;
	margin-left:-40%;
	padding:2em;
	background:#fff;
	text-align:center;
	border-radius:1em;

	-webkit-transform-origin:0 0;
	-moz-transform-origin:0 0;
	-ms-transform-origin:0 0;
	-o-transform-origin:0 0;
	transform-origin:0 0;

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

#intro .arrows {
	font-size:2em;
	color:#09f;
}

#transform {
	width:70%;
	left:50%;
	top:20%;
	margin-left:-35%;
	text-align:center;
	font-size:150%;

	.transform-origin(50%, 50%);
}

#properties {
	width:100%;
	height:100%;
	padding-top:10%;
	text-align:center;

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

#easing_wrapper {
	width:100%;
	height:100%;
}

#easing {
	top:10%;
	width:50%;
	z-index:101;
}

.drop {
	background:#09f;
	font-weight:bold;
	padding:1em;
}

#download {
	width:80%;
	left:10%;
	height:80%;
	padding:3em;
	border:0 solid #222;

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.twitter-share-button, .twitter-follow-button {
	vertical-align:middle;
}
*/
.top_header{
	background:url(../images/header_bg.gif) repeat-x;
	width:100%;
	height:117px;
}
.header{
	width:980px;
	height:117px;
	left : 0px;
	position : fixed;
	top : 0px;
}
.wrapper{
	width:100%;
	position:relative;
	height:5240px;
}
.person{
 	background:url(../images/persons.png) no-repeat;
 	width:90px;
 	height:189px;
 	position:fixed;
 	top: 0px;
 	left: 0px;
	z-index:1;
}
.initperson {
	background-position : 0 0;
}
.city1person{
 	background-position : -89px 0;	
}
.city2person{
 	background-position : -178px 0;	
}
.city3person{
 	background-position : -267px 0;	
}
.city4person{
 	background-position : -356px 0;	
}
#city1{
 	/*position:relative;*/
 	
 	background:url(../images/city_start.jpg) no-repeat;
 	width:1275px;
 	height:595px; 
 	position:fixed;
 	left : 0px;
 	top :117px;
}
.building{ 
	background:url(../images/new_york.png) no-repeat;
	bottom:0;
	position:absolute;
	width:1274px;
	height:419px;
	z-index:1;
}
.rapp_collis{ 
	background: url("../images/rapp_collis.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    bottom: 72px;
    height: 357px;
    position: absolute;
    right: 230px;
    width: 401px;
    z-index: 0;
}
.text_1965 {
    left: 20px;
    padding: 0 0 0 150px;
    position: absolute;
    top: 160px;
	width:353px;
	
}
.text_1965 h1{
	font-family: 'kameron-bold';
	font-size:72px;
	color:#f59334;
	margin:0 0 5px 0;					
}
.text_1965 span{
	font-family: 'OpenSans-Regular';
	font-size:16px;
	color:#363636;
	width:353px;
	line-height:20px;	
}
.division {
	z-index: 1;
    height: 48px;
    right : -210px;
    position: absolute;
    top: 355px;
    width: 204px;
}
.text_1969 {
    left: 20px;
    padding: 0 0 0 150px;
    position: absolute;
    top: 160px;
	width:353px;
}
.text_1969 h1{
	font-family: 'kameron-bold';
	font-size:72px;
	color:#f59334;
	margin:0 0 10px 0;
}
.text_1969 span{
	font-family: 'OpenSans-Regular';
	font-size:16px;
	color:#363636;
	width:353px;
	line-height:20px;	
}
.text_1971 {
    left: 20px;
    padding: 0 0 0 150px;
    position: absolute;
    top: 160px;
	width:353px;
	
}
.text_1971 h1{
	font-family: 'kameron-bold';
	font-size:72px;
	color:#f59334;
	margin:0 0 10px 0;
}
.text_1971 span{
	font-family: 'OpenSans-Regular';
	font-size:16px;
	color:#363636;
	width:353px;
	line-height:20px;	
}
.text_1977 {
    left: 20px;
    padding: 0 0 0 150px;
    position: absolute;
    top: 160px;
	width:353px;
	
}
.text_1977 h1{
	font-family: 'kameron-bold';
	font-size:72px;
	color:#f59334;
	margin:0 0 10px 0;
}
.text_1977 span{
	font-family: 'OpenSans-Regular';
	font-size:16px;
	color:#363636;
	width:353px;
	line-height:20px;	
}
.division2 {
    height: 48px;
    left: 65%;
    position: absolute;
    top: 355px;
    width: 204px;
}
#city2{
 	/*position:relative;*/
 	left : 0px;
 	background:url(../images/city2.jpg) no-repeat;
 	width:1275px;
 	height:980px;
 	position:fixed;
 	top :712px;
}
.text_80s{
 	position:absolute;
 	left:87px;
 	color:#fff;
}
.text_80s span{
 	font-size:10px;
 	color:#fff;
}

.text_1983{
 	top:400px; 
 	width:353px;
 	position:absolute;
 	left : -400px;
 	z-index: 1;
}
.text_1983 h1{
	font-family: 'kameron-bold';
	font-size:72px;
	color:#fff;
	margin:0 0 10px 0;
}
.text_1983 span{
	font-family: 'OpenSans-Regular';
	font-size:14px;
	color:#fff;
	width:353px;
	line-height:20px;	
}

.text_1986{
 	top:400px; 
 	width:353px;
 	position:absolute;
 	left : -400px;
 	z-index: 1;
}
.text_1986 h1{
	font-family: 'kameron-bold';
	font-size:72px;
	color:#fff;
	margin:0 0 10px 0;
}
.text_1986 span{
	font-family: 'OpenSans-Regular';
	font-size:14px;
	color:#fff;
	width:353px;
	line-height:20px;	
}
.text_1988{
 	top:530px; 
	width:353px; 
	position:absolute;
 	left : -400px;
 	z-index: 1;
}
.text_1988 h1{
	font-family: 'kameron-bold';
	font-size:72px;
	color:#fff;
	margin:0 0 10px 0;
}
.text_1988 span{
	font-family: 'OpenSans-Regular';
	font-size:14px;
	color:#fff;
	width:353px;
	line-height:20px;	
}
.text_1989{
 	top:600px; 
	width:353px;
	position:absolute;
 	left : -400px;
 	z-index: 1;
}
.text_1989 h1{
	font-family: 'kameron-bold';
	font-size:72px;
	color:#fff;
	margin:0 0 10px 0;
}
.text_1989 span{
	font-family: 'OpenSans-Regular';
	font-size:14px;
	color:#fff;
	width:353px;
	line-height:20px;	
}
.highlightmap1{
 	background: url("../images/highlightmap1.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    height: 69px;
    left: 200px;
    position: absolute;
    top: 88px;
    width: 81px;
	z-index:0;	
}

.highlightmap2{
 	background: url("../images/highlightmap2.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    height: 63px;
    position: absolute;
    right: 550px;
    top: 142px;
    width: 38px;
}
.highlightmap3{
 	background: url("../images/highlightmap3.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    height: 141px;
    position: absolute;
    right: 215px;
    top: 128px;
    width: 211px;
}

.highlightmap4{
 	background: url("../images/highlightmap4.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    height: 143px;
    position: absolute;
    right: 490px;
    top: 385px;
    width: 153px;
    z-index: 0;
}

.rapp_collinsbubble{
 	position:absolute;
 	top:130px;
 	right:80px;
 	background:url("../images/rapp_collins_logo.png") no-repeat;
 	width:151px;
 	height:152px
}
.shapes_bubble{
 	position:absolute;
 	top:400px;
 	right:210px;
 	background:url("../images/das_logo.png") no-repeat;
 	width:319px;
 	height:319px
}

#city3{
	background:url("../images/city3.jpg") no-repeat;
 	/*position:relative;*/
 	left : 0px;
 	width:1275px;
 	height:1299px;
 	position:fixed;
 	top : 1692px;
 }

.text_90s{
 	width:35%;
 	position:absolute;
 	left:87px;
 	color:#fb9921;
}
.text_90s span{ 
 	font-size:10px;
 	color:#fff;
}
.text_1992{
 	top:36px; 
	width:353px;
}
.text_1992 h1{
	font-family: 'kameron-bold';
	font-size:72px;
	color:#f59334;
	margin:0 0 10px 0;
}
.text_1992 span{
	font-family: 'OpenSans-Regular';
	font-size:14px;
	color:#fff;
	width:353px;
	line-height:20px;	
}
.text_1993{
 	top:250px;
 	width:353px;
}
.text_1993 h1{
	font-family: 'kameron-bold';
	font-size:72px;
	color:#f59334;
	margin:0 0 10px 0;
}
.text_1993 span{
	font-family: 'OpenSans-Regular';
	font-size:14px;
	color:#fff;
	width:353px;
	line-height:20px;	
}
.text_1994{
 	top:548px; 
	width:353px;
}
.text_1994 h1{
	font-family: 'kameron-bold';
	font-size:72px;
	color:#f59334;
	margin:0 0 10px 0;
}
.text_1994 span{
	font-family: 'OpenSans-Regular';
	font-size:14px;
	color:#fff;
	width:353px;
	line-height:20px;	
}
.text_1995{
 	top:860px; 
	width:353px;
}
.text_1995 h1{
	font-family: 'kameron-bold';
	font-size:72px;
	color:#f59334;
	margin:0 0 10px 0;
}
.text_1995 span{
	font-family: 'OpenSans-Regular';
	font-size:14px;
	color:#fff;
	width:353px;
	line-height:20px;	
}

.text_1996{
 	top:1120px;
	width:353px; 
}
.text_1996 h1{
	font-family: 'kameron-bold';
	font-size:72px;
	color:#f59334;
	margin:0 0 10px 0;
}
.text_1996 span{
	font-family: 'OpenSans-Regular';
	font-size:14px;
	color:#fff;
	width:353px;
	line-height:20px;	
}
.soda_bubbles{
	background:url("../images/bubbles_full.png") repeat;
 	width:1275px;
 	height:600px;  
}
.pepsi_bubble{
	background:url("../images/pepsi.png") no-repeat; 
 	position:absolute;
 	top:120px;
 	left:350px;
 	width:152px;
 	height:152px; 
}
.pizzahut_bubble{
	background:url("../images/pizzhut.png") no-repeat;
 	position:absolute;
 	top:56px;
 	right:230px;
 	width:199px;
 	height:199px; 	
}

.rapp_collinsww{
 	background: url("../images/rappcollins.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    height: 137px;
    position: absolute;
    right: 310px;
    top: 300px;
    width: 207px;
}
.rapp_collinsww2{
  	background: url("../images/rappcollins2.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    height: 138px;
    position: absolute;
    right: 142px;
    top: 165px;
    width: 168px;
}
.direct_marketing{
	background: url("../images/direct-world.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    bottom: 750px;
    height: 173px;
    position: absolute;
    right: 160px;
    width: 353px; 
}
.globe{
	background: url("../images/globe.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    bottom: -505px;
    height: 505px;
    position: absolute;
    left: 0px;
    width: 1275px; 	
}

.city4buildinglayer1{
	position:absolute;
	left : 0px;	
	top : 0px;
	height:675px;
}

.city4buildinglayer2{
	position:absolute;
	left : 0px;
	top : 254px;		
}

#city4{
 	/*position:relative;*/
 	left : 0px;
 	/*background:url("../images/city4-side-ways.jpg") no-repeat;*/
 	width:1275px;
 	height:753px;
 	position:fixed;
 	top : 2985px;
 	overflow: hidden;
}
.city4buildinglayer{
	height:;
}
.city2_elevator{
	background: url("../images/city2_elevator.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    height: 984px;
    position: absolute;
    right: 550px;
    top: 0px;
    width: 172px;
	/*z-index:2;*/	
}
.city3_elevator{
	background: url("../images/city3_elevator.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    height: 1811px;
    position: absolute;
    right: 555px;
    top: 0px;
    width: 172px;
	z-index:2;
}
.city4_elevator{
	background: url("../images/city4_elevator.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    height: 753px;
    position: absolute;
    right: 555px;
    top: 0px;
    width: 172px;
	z-index:2;
}
.city5_elevator{
	background: url("../images/city5_elevator.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    height: 1061px;
    position: absolute;
    right: 555px;
    top: 0px;
    width: 172px;
	z-index:2;
}

.city4_pattern{
	background: url("../images/square_pattern_bg.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    height: 394px;
    position: absolute;    
    top: 437px;
    width: 1275px;
	
}
.text_2000{
 	width:300px;
 	position:absolute;
 	top:98px;
 	left:84px;
 	color:#fb9921;
 	z-index:92;
}
.text_2000 h1{
	font-family: 'kameron-bold';
	font-size:72px;
	color:#f59334;
	margin:0 0 10px 0;
}
.text_2000 span{
	font-family: 'OpenSans-Regular';
 	font-size:14px;
	color:#fff;
	width:353px;
	line-height:20px;
}
.text_2002{
 	width:300px;
 	position:absolute;
 	top:98px;
 	left:84px;
 	color:#fb9921;
 	z-index:92;
	display:none;
}
.text_2002 h1{
	font-size:72px;
	color:#f59334;
	margin:0 0 10px 0;
}
.text_2002 span{
 	font-size:14px;
	color:#fff;
	width:353px;
	line-height:20px;
}
.text_2004{
 	width:300px;
 	position:absolute;
 	top:98px;
 	left:84px;
 	color:#fb9921;
 	z-index:92;
	display:none;
}
.text_2004 h1{
	font-size:72px;
	color:#f59334;
	margin:0 0 10px 0;
}
.text_2004 span{
 	font-size:14px;
	color:#fff;
	width:353px;
	line-height:20px;
}
.text_2005{
 	width:300px;
 	position:absolute;
 	top:98px;
 	left:84px;
 	color:#fb9921;
 	z-index:92;
	display:none;
}
.text_2005 h1{
	font-family: 'kameron-bold';
	font-size:72px;
	color:#f59334;
	margin:0 0 10px 0;
}
.text_2005 span{
	font-family: 'OpenSans-Regular';
 	font-size:14px;
	color:#fff;
	width:353px;
	line-height:20px;
}
.text_2008{
 	width:300px;
 	position:absolute;
 	top:98px;
 	left:84px;
 	color:#fb9921;
 	z-index:92;
	display:none;
}
.text_2008 h1{
	font-family: 'kameron-bold';
	font-size:72px;
	color:#f59334;
	margin:0 0 10px 0;
}
.text_2008 span{
	font-family: 'OpenSans-Regular';
 	font-size:14px;
	color:#fff;
	width:353px;
	line-height:20px;
}
.text_2009{
 	width:300px;
 	position:absolute;
 	top:98px;
 	left:84px;
 	color:#fb9921;
 	z-index:92;
	display:none;
}
.text_2009 h1{
	font-family: 'kameron-bold';
	font-size:72px;
	color:#f59334;
	margin:0 0 10px 0;
}
.text_2009 span{
	font-family: 'OpenSans-Regular';
 	font-size:14px;
	color:#fff;
	width:353px;
	line-height:20px;
}
.text_2009_2{
 	width:300px;
 	position:absolute;
 	top:98px;
 	left:84px;
 	color:#fb9921;
 	z-index:92;
	display:none;
}
.text_2009_2 h1{
	font-family: 'kameron-bold';
	font-size:72px;
	color:#f59334;
	margin:0 0 10px 0;
}
.text_2009_2 span{
	font-family: 'OpenSans-Regular';
 	font-size:14px;
	color:#fff;
	width:353px;
	line-height:20px;
}
.star_bg{
 	position:absolute;
 	top:46px;
 	background:url(../images/stars.png) repeat-x;
 	width:695px;
 	height:195px;
 	z-index:90;
 	display:none;
}
.treelayer{
 	position:absolute;
 	bottom:84px;
 	background:url(../images/palm_tree.png) repeat-x;
 	width:106px;
 	height:132px;
}
.palmtree{
	   background: url("../images/palm_tree.png") repeat-x scroll 0 0 rgba(0, 0, 0, 0);
    bottom: 80px;
    height: 132px;
    left: 150px;
    position: absolute;
    width: 106px;
}
.agencylist{ 
 	background: url("../images/agency_list.png") repeat-x scroll 0 0 rgba(0, 0, 0, 0);
    bottom: 79px;
    height: 142px;
    position: absolute;
    right: 450px;
    width: 101px;
}
.digital_agency{ 
 	background: url("../images/3_digital_agency.png") repeat-x scroll 0 0 rgba(0, 0, 0, 0);
    bottom: 160px;
    height: 100px;
    position: absolute;
    right: 150px;
    width: 130px;
}
.direct_marketing{ 
 	background: url("../images/direct_marketing.png") repeat-x scroll 0 0 rgba(0, 0, 0, 0);
    bottom: 290px;
    height: 96px;
    position: absolute;
    right: 750px;
    width: 125px;
}
.rapp_logo{ 
 	background: url("../images/rapp_logo.png") repeat-x scroll 0 0 rgba(0, 0, 0, 0);
    bottom: 328px;
    height: 48px;
    position: absolute;
    width: 49px;
    display:none;
    right:0px;
}
#city5{
 	/*position:relative;*/
 	left : 0px;
 	background:url(../images/city5.jpg) no-repeat;
 	width:1275px;
 	height:1100px;
 	position:fixed;
 	top:4028px;
}
.text_20s{
 	width:35%;
 	position:absolute;
 	left:84px;
 	color:#fb9921;
}
.text_20s p, .text_20s span{
 font-size:10px;
}
.text_20s p{
 color:#333;
}
.text_20s span{
  color:#fb9921;
}

.text_2011{
	width:300px;
 	position:absolute;
 	top:100px; 
}
.text_2011 h1{
	font-family: 'kameron-bold';
	font-size:72px;
	color:#f59334;
	margin:0 0 10px 0;
}
.text_2011 span{
	font-family: 'OpenSans-Regular';
 	font-size:14px;
	color:#333333;
	width:353px;
	line-height:20px;
}
.text_2012{
	width:300px;
 	position:absolute;
 	top:260px; 
}
.text_2012 h1{
	font-family: 'kameron-bold';
	font-size:72px;
	color:#f59334;
	margin:0 0 10px 0;
}
.text_2012 span{
	font-family: 'OpenSans-Regular';
 	font-size:14px;
	color:#f59334;
	text-transform:uppercase;		
}
.text_2012 p{
	font-family: 'OpenSans-Regular';
	font-size:14px;
	color:#333333;
	width:353px;
	line-height:20px;
}
.text_2013{
 	width:300px;
 	position:absolute;
 	top:630px;
}
.text_2013 h1{
	font-family: 'kameron-bold';
	font-size:72px;
	color:#f59334;
	margin:0 0 10px 0;
}
.text_2013 p{
	font-family: 'OpenSans-Regular';
	font-size:14px;
	color:#333333;
	width:353px;
	line-height:20px;
}
.text_2013 span{
 	font-size:14px;
	color:#f59334;
	text-transform:uppercase;
}
.text_2015{
 	width:300px;
 	position:absolute;
 	top:850px; 
}
.text_2015 h1{
	font-family: 'kameron-bold';
	font-size:72px;
	color:#f59334;
	margin:0 0 10px 0;
}
.text_2015 p{
	font-size:14px;
	color:#333333;
	width:353px;
	line-height:20px;
}
.text_2015 span{
 	font-size:14px;
	color:#f59334;
	text-transform:uppercase;
}
.millenials_boxes{
 	position:absolute;
 	top:100px;
 	right:40px;
 	width:495px;
 	height:488px;
}

.millenials_boxes div{
 	position:absolute;
}

.millenials_boxes .box1{
 	width:127px;
 	height:126px;
 	background:url(../images/millenials-boxe1.png) no-repeat;
 	right:72px;
}

.millenials_boxes .box2{
 	width:73px;
 	height:70px;
 	background:url(../images/millenials-box2.png) no-repeat;
 	top:150px;
 	right:0px;
}

.millenials_boxes .box3{
 	width:122px;
 	height:122px;
 	background:url(../images/millenials-box3.png) no-repeat;
 	left:0px;
 	top:140px;
}

.millenials_boxes .box4{
 	width:73px;
 	height:72px;
 	background:url(../images/millenials-box4.png) no-repeat;
 	top:220px;
 	right:72px;
}

.millenials_boxes .box5{
 	width:18px;
 	height:19px;
 	background:url(../images/millenials-box5.png) no-repeat;
 	top:108px;
 	right:53px;
}

.millenials_boxes .box6{
 	width:10px;
 	height:9px;
 	background:url(../images/millenials-box6.png) no-repeat;
 	right:72px;
 	top:170px;
}
.interactive_boxes{
 	position:absolute;
 	top:700px;
 	right:40px;
 	width:495px;
 	height:488px;
}